In [1]:
import pandas as pd
pd.__version__

'1.4.4'

In [3]:
df = pd.read_csv('../green_tripdata_2019-01.csv.gz', nrows=100)

In [12]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [16]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [17]:
engine.connect()

In [18]:
print(pd.io.sql.get_schema(df,name='green_taxi_data_practice', con=engine))

CREATE TABLE green_taxi_data_practice (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [19]:
df_iter = pd.read_csv('../green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100000)
df_iter

In [20]:
df = next(df_iter)

In [21]:
len(df)

100000

In [22]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [23]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [24]:
df.head(n=0).to_sql(name='green_taxi_data_practice', con=engine, if_exists='replace')

0

In [25]:
%time df.to_sql(name='green_taxi_data_practice', con=engine, if_exists='replace')

1000

In [27]:
from time import time
while True:
    t_start=time()
    df=next(df_iter)
    df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name='green_taxi_data_practice', con=engine, if_exists='append')
    t_end = time()
    print("inserted another chunk..., took %.3f second" % (t_end-t_start))

inserted another chunk..., took 9.585 second
inserted another chunk..., took 9.630 second
inserted another chunk..., took 9.579 second
inserted another chunk..., took 9.671 second
inserted another chunk..., took 9.720 second
inserted another chunk..., took 3.020 second

StopIteration:

In [28]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
600000,2,2019-01-30 15:48:41,2019-01-30 15:57:31,N,1,260,82,1,1.03,7.00,0.0,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0
600001,2,2019-01-30 15:29:04,2019-01-30 15:35:59,N,1,166,151,1,1.15,7.00,0.0,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0
600002,2,2019-01-30 15:50:30,2019-01-30 15:56:54,N,1,166,116,1,1.29,7.00,0.0,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0
600003,2,2019-01-30 16:15:39,2019-01-30 16:43:32,N,5,166,230,1,5.39,22.51,0.0,0.5,0.00,0.0,NaN,0.0,23.01,1,2,0.0
600004,2,2019-01-30 15:01:59,2019-01-30 15:18:49,N,1,66,181,1,3.58,13.50,0.0,0.5,2.86,0.0,NaN,0.3,17.16,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630913,2,2019-01-31 23:08:27,2019-01-31 23:22:59,N,1,255,226,1,3.33,13.00,0.5,0.5,2.14,0.0,NaN,0.3,18.39,1,1,0.0
630914,2,2019-01-31 23:21:26,2019-01-31 23:23:05,N,1,75,151,1,0.72,4.00,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1,0.0
630915,2,2019-01-31 23:30:05,2019-01-31 23:36:14,N,1,75,238,1,1.75,7.00,0.5,0.5,0.00,0.0,NaN,0.3,8.30,1,1,0.0
630916,2,2019-01-31 23:59:58,2019-02-01 00:04:18,N,1,74,74,1,0.57,5.00,0.5,0.5,1.00,0.0,NaN,0.3,7.30,1,1,0.0
630917,2,2019-01-31 23:18:22,2019-01-31 23:26:06,N,1,75,262,1,2.11,8.50,0.5,0.5,1.96,0.0,NaN,0.3,11.76,1,1,0.0